html{
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    background-image:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           /* bottom, image */
           url(Deepwoken.jpg);
}

.topbar{
    color: white;
    background-size: cover;
    text-align: center;
    font: size 2rem;
}

h1{
    font-size: 3vw;
}

h2{
    font-size: 2vw;
}

p{
    font-size: 1vw;
}



.flip-card{
    background-color: transparent;
    width: 14%;
    height: 17vw;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    box-shadow: 10px 5px 5px black;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Example for more pronounced effect */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0;
    margin: 0;
}

.flip-card-front{
    background-color: transparent;
    color: black;
}
.flip-card-back{
    background-image: url(old-paper.jpg);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front img{
    width: 100%;
    height: 100%;
}



.flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;

}


@media screen and (max-width: 1000px) {
    .flip-card {
        width: 100px; /* Use percentage instead of fixed pixel values */
        height: 150px;
    }
    .flex-container{
        padding: 5px 10px;
    }

    h1{
        font-size: 3vw;
    }
}

.logo:hover{
    transform:scale(1.15)
}

.card1:hover .flip-card{
    transform: rotateX(180deg);
}

