*{
    box-sizing: border-box;
}

html {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(Deepwoken.jpg);
}

.topbar {
    color: white;
    background-size: cover;
    text-align: center;
    font-size: 2rem;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}

p {
    font-size: 1vw;
}

.flip-card {
    background-color: transparent;
    width: 15%;
    height: 20rem;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    box-shadow: 10px 5px 5px black;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;
}

.flip-card-back {
    background-image: url(old-paper.jpg);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

@media screen and (max-width: 2000px) {
    .flip-card {
        height: 20vw;
    }
}

@media screen and (max-width: 1200px) {
    .flip-card {
        width: 30%;
        height: 40vw;
    }

    .flex-container {
        padding: 5px 10px;
    }

    h2 {
        font-size: 2vw;
    }

    p {
        font-size: 3vw;
    }
}

@media screen and (max-width: 700px) {
    .flip-card {
        width: 50%;
        height: 60vw;
    }

    .flex-container {
        padding: 5px 10px;
    }

    h2 {
        font-size: 2vw;
    }

    p {
        font-size: 3vw;
    }
}

.logo {
    transition: all 1s;
}

.logo:hover {
    transform: scale(1.15);
}

.skib {
    transition: 4s;
}

.skib:hover {
    transform: rotateX(180deg);
}

.dop {
    background-color: black;
    transition: 2s;
}

.dop:hover {
    background-color: blue;
}

.card1 {
    transition: 2s;
}

.card1:hover .flip-card-inner {
    transform: scale(1.5);
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    animation: bounce 1s infinite alternate;
    justify-content: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        background-color: blue;
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: translateY(-150px);
        background-color: red;
    }
}
